.hs-menu {
    width: 470px;
    margin: 0 auto;
    padding: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 2px;
	
}

.hs-menu li {
    list-style-type: none;
    font-weight: normal;
    text-align: center;
    background-color: #ffffff;
	position: relative;
}
	
.hs-menu > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
	border: 1px solid #d9d9d9;
	font-weight: bold;
}

.hs-menu > li:nth-last-of-type(even) {
    margin-right: -1px;
}

.hs-menu > li:hover {
	z-index: 1;
    border: 1px solid #019551;
}

.hs-menu > li.active {
	color: #019551;
}
	
.hs-menu .hs-menu__link {
    display: block;
    cursor: default;
    padding: 8px;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.hs-menu__sub {
	width: 100%;
	padding: 0;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 100%;
	left: -2px;
	border: 1px solid #d9d9d9;
	width: calc(100% + 2px );
}

.hs-menu:hover .hs-menu__sub__list {
	border: 1px solid #d9d9d9;
}
		
.hs-menu__sub__list {
	
	padding: 0;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	transition: visibility 0s linear 200ms, transform 200ms linear;
	z-index: 1;
}
			
.hs-menu li:hover .hs-menu__sub__list {
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}
			
.hs-menu__sub__list .hs-menu__link {
	text-align: left;
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 8px;
    background-color: #ffffff;
    -webkit-transition: padding 0.05s linear;
    -o-transition: padding 0.05s linear;
    transition: padding 0.05s linear;
	cursor: pointer;
}

.hs-menu__sub__list .hs-menu__link:hover {
	font-weight: bold;
    background-color: #f7f7f7;
    padding: 8px 7px 8px 9px;
    color: #019551;
}

.hs-menu__sub__list .hs-menu__link.active {
	font-weight: bold;
	color: #019551;
}